header{
    background-image: url(https://th.bing.com/th/id/OIP.xddyM5Z5llwe5nz0xAnhvAHaD_?w=340&h=183&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 300px;
    filter: blur();
} 
header h1{
    color:white;
    text-transform: capitalize;
    margin: 3px;
}
header p{
    color: azure;
    text-align:justify;
    position: relative;
    top: 10px;
    left:650px;

}
  header button{
    position: relative;
    top: 40px;
    left: -170px;
    width: 100px;
    background-color: rgb(43, 156, 226);
    border-radius: 12px;
    
}

section{
    width:170vh;
    height:700px ;
    background-color:white;
    position: relative;
    top:-40px;
    left:85px;
    z-index:1;
}

 .container{
    display: grid;
    border: 1px solid white; 
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "div1 div2 div2"
    "div3 div4 div5" 
    "div6 div7 div7";
}
.g{
    padding: 10px;
    border: 1px solid white;

}  

.one{
    grid-area: div1;
    width: 300px;
    height: 240px;
    border: 2px solid #000;
    padding: 20px; 
    position: relative;
    left: 90px;
}
   
.two{
    grid-area: div2;
}
   
.three{
    grid-area: div3;
    width: 300px;
    height: 240px;
    border: 2px solid #000;
    padding: 20px; 
    position: relative;
    left: 90px;
}
   
.four{
    grid-area: div4;
}
   
.five{
    grid-area: div5;
}
   
.six{
    grid-area: div6;
    width: 300px;
    height: 240px;
    border: 2px solid #000;
    padding: 20px; 
    position: relative;
    left: 90px;
}

.seven{
    grid-area: div7;
}

.one{
    text-align: center;
}
    
    


.three {
   text-align:left;
   
}
.three button{
    background-color:lightgreen;
    width: 60px;
    border-radius: 4px;
}
.three h3{
    background-color: gray;
    text-align: center;
    position: relative;
    top:-30px;
}
.three form{
margin-left: 30px;
border-spacing:15px ;
}

.six h3{
    background-color:gray ;
}
#r{
    color: aquamarine;
}


.two img {
    width:150px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid greenyellow;
}
.two p{
    padding-right: 40px;
    width: 900px;
    text-align: justify;
}
.two h4{
    color:greenyellow;
}
.four li{
    list-style-type: none;
}

.four ul {

    li::before{
        content: "💚" ;
    }

}

.five li{
    list-style-type: none;
}

.five ul {

    li::before{
        content: "🖤" ;
    }

}


   